.nav {
  border: 1px solid #d7d7d7;
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
  height: 50px;

  &__link {
    color: #d7d7d7;
    font-weight: 700;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: rgb(20, 139, 194);
      border-top: 1px solid rgb(20, 139, 194);
      padding: 2px 0 0 0;
    }
  }
}
.active {
  color: rgb(20, 139, 194);
}
