.main {
  height: 100vh;
  width: 100%;
  background-color: rgb(243, 170, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  &__profession {
    display: block;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0 0;
  }

  &__wrapper {
    border: 1px solid;
    height: 570px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__left {
      height: 570px;
      width: 480px;
    }

    &__right {
      width: 480px;
      display: flex;
      align-items: center;

      &-inner {
        width: 100%;
        background-color: grey;
      }
    }
  }

  &__name {
    display: block;
    font-size: 70px;
  }

  &__surname {
    display: block;
    font-size: 70px;
  }

  &__photo {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
  }
}

@media (max-width: 500px) {
  .main {
    &__name {
      font-size: 40px;
    }

    &__surname {
      font-size: 40px;
    }

    &__wrapper {
      &__left {
        height: 350px;
        width: 480px;
      }

      &__photo {
        height: 100%;
        width: 100%;
        background-color: greenyellow;
      }
    }
  }
}
