.main {
  position: relative;
  min-width: 100%;
  background-color: #101010;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  align-items: center;

  &__profession {
    display: block;
  }

  &__particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
  }
  &__container {
    padding: 100px 0 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper-conteiner {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-width: 100%;
    background-color: #171717c2;
    padding: 0 20px;
    margin: 0 auto;
    &__profession {
      display: inline-block;
      font-size: 16px;
      color: #bbb;
      font-weight: 700;
    }
  }

  &__wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    &__left {
      max-width: 480px;
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-left: 300px;
      margin-right: 100px;
    }

    &__right {
      max-width: 480px;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 100px;

      &-inner {
        width: 100%;
        color: #fff;
        font-weight: 800;
      }
    }
  }

  &__name {
    font-family: 'Archivo Black';
    display: block;
    font-size: 70px;
    color: #171717;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, #fff -1px 1px 0, #fff 1px -1px 0;
    line-height: 80px;
  }

  &__surname {
    font-family: 'Archivo Black';
    display: block;
    font-size: 70px;
    color: #fff;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;
    line-height: 80px;
  }

  &__photo {
    background-size: cover;
    height: 570px;
    max-width: 500px;
    object-fit: cover;
  }
}

@media (max-width: 1784px) {
  .main {
    &__wrapper {
      &__left {
        margin-left: 200px;
        margin-right: 80px;
      }

      &__right {
        margin-left: 100px;
      }
    }
  }
}

@media (max-width: 1635px) {
  .main {
    &__wrapper {
      &__left {
        margin-left: 80px;
        margin-right: 40px;
      }

      &__right {
        margin-left: 40px;
      }
    }
  }
}

@media (max-width: 1448px) {
  .main {
    &__wrapper {
      &__left {
        margin-left: 80px;
      }
    }
  }
}

@media (max-width: 1385px) {
  .main {
    &__wrapper {
      &__left {
        margin-left: 75px;
        margin-right: 10px;
      }

      &__right {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 1281px) {
  .main {
    &__wrapper {
      &__left {
        margin-left: 30px;
        margin-right: 5px;
      }

      &__right {
        margin-left: 5px;
      }
    }
    &__photo {
      background-size: cover;
      height: 400px;
      width: 380px;
      object-fit: cover;
    }

    &__name {
      font-size: 50px;
    }

    &__surname {
      font-size: 50px;
    }
  }
}

@media (max-width: 953px) {
  .main {
    &__wrapper {
      &__left {
        margin-left: 10px;
        margin-right: 5px;
      }

      &__right {
        margin-left: 5px;
      }
    }
    &__photo {
      height: 400px;
      width: 320px;
    }

    &__name {
      font-size: 45px;
    }

    &__surname {
      font-size: 45px;
    }
  }
}

@media (max-width: 820px) {
  .main {
    &__wrapper-conteiner {
      flex-direction: column;
      gap: 20px;
    }

    &__name,
    &__surname {
      font-size: 50px;
    }

    &__photo {
      background-size: cover;
      height: 400px;
      width: 320px;
      object-fit: cover;
    }
  }
}
