.skills {
  &__list__item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
  }

  &__name {
    margin: 12px 0;
    font-size: 24px;
    font-weight: 800;
  }

  &__text {
    font-size: 19px;
    font-weight: 700;
    text-align: center;
  }

  &__icon {
    font-size: 80px;
    color: rgb(20, 139, 194);
  }
}
