.header {
  z-index: 999;
  height: 80px;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.9;
  font-family: 'Roboto-Condensed-Bold';
  &__wrapper {
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 775px) {
  .header {
    &__wrapper {
      justify-content: center;
    }
  }
}
