@font-face {
  font-family: 'Archivo Black';
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'),
    url('./font-family/Archivo_Black/ArchivoBlack-Regular.woff2') format('woff2'),
    url('./font-family/Archivo_Black/ArchivoBlack-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Condensed-Bold';
  src: local('Roboto Condensed Bold'), local('Roboto-Condensed-Bold'),
    url('./font-family//Roboto_Condensed_Bold//RobotoCondensed-Bold.woff2') format('woff2'),
    url('./font-family/Roboto_Condensed_Bold/RobotoCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
