.section {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  height: 120px;
  margin: 0 0 70px;
  &__title {
    color: #d7d7d7;
    font-size: 40px;
    font-weight: 800;
    margin-top: 50px;
    border-bottom: 3px solid #d7d7d7;
    padding: 0 10px 80px;
  }
}
